<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="Microsoft.Win32.Registry" version="6.0.0-preview.5.21301.5" targetFramework="netstandard2.0" allowedVersions="" />
  <package id="System.Security.AccessControl" version="6.0.2-mauipre.1.22102.15" targetFramework="netstandard2.0" allowedVersions="" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="netstandard2.0" allowedVersions="" />
</packages>